<header>
  <h1>The Tech Blog</h1>
  {{#if logged_in}}
  <a href="/dashboard">Dashboard</a>
  <a href="/logout">Logout</a>
  {{else}}
  <a href="/login">Login</a>
  {{/if}}
</header>
<main>
  {{#each posts}}
  <article>
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
    <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
  </article>
  {{/each}}
</main>
